# dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# miniprogram specific
.miniprogram/
.sourcemap/
dist/
miniprogram_npm/
project.private.config.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local

# Optional npm cache directory
.npm/